@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family:'idroid';
    src: url(../fontes/idroid.otf.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Work Sans', sans-serif;*/

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: #84E0AD;
    margin: 0px auto;
}
header{
    background-image: linear-gradient(to top, #1B5936, #aecebc );
    margin: 0px;
}
h1#top{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    
}
header>p{
    color: white;
    height: 50px;
    width: 458px;
    margin: auto;
    text-align: center;
    
}
nav{
    text-decoration: none;
    text-align: center;
}
nav>a{
    text-decoration: none;
    color: white;
    margin-right: 12px;
    font-weight: bold;
}
nav>a:hover{
    color: #84E0AD;
}

main{
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 10px;
}

h1{
    font-family: 'idroid';
    color: #1B5936;
    font-size: 1.8em;
}

h2{
    font-family: 'idroid';
    color: #1B5936;
    background-image: linear-gradient(to right, #aecebc, rgba(230, 249, 230, 0.416) );;
    padding: 5px;
}

#bug{
    margin-left: 250px;
}
p{
    text-align: justify;
    text-indent: 20px;
}

span{
    text-align: justify;
    text-indent: 20px;
}

#video{
    padding: 15px 20px;
    background-color: #1B5936;
    margin: 0px;
    
   
}

h3{
    background-color: #41c17b;
    color: white;
    padding: 8px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
}

article{
    background-color: #aecebc;
    padding: 8px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.395);
}
footer{
    background-color: #1B5936;
    color: white;
    text-align: center;

}